@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}
a{
    text-decoration: none;
    

}
li {
    list-style-type: none;
}

/* Header */
header {
    width: 100%;
}

/* Top Banner*/
header .top-banner{
    width: 100%;
    text-align: center;
    
}

header .top-banner .top-banner-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, rgb(97, 125, 252) 50%, rgb(97, 125, 252) 50%);
}

header .top-banner .top-banner-container img{
    width: 60%;
    height: 100%;
}

/*Header Main*/
.headerMain{
    max-width: 1250px;
    margin: 0 auto;
    padding: 10px 20px;
}
.headerMain .wrapper{
    display: flex;
    justify-content: flex-end;
    
}
.headerMain .wrapper .right{
    display: flex;
    gap: 30px;
    font-size: 0.7rem; 
    
}
.headerMain .wrapper .right li a{
    color: #666666;
    opacity: 0.5; 
    transition: opacity 0.2s ease-in-out;
}
.headerMain .wrapper .right a:hover{
    opacity: 1;
}

.headerMain .sticky-header{
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding-bottom: 10px;
    
}

.headerMain .header-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 1400px;
    margin: 0 auto;
}
.headerMain .header-wrapper .header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
 .header-container .logo{
    text-align: center;
    width: 150px;
   
    
}

.header-container .search-bar{
   
    width: 600px;
    margin: 0 20px;
    position: relative;
}
.header-container .search-bar input{
    width: 100%;
    padding: 15px 40px 10px 15px;
    border: none;
    background-color: #F3F3F3;
    border-radius: 6px;
}
.search-bar i {
    position: absolute;
    right: 15px;  /* Sağ kenara yasla */
    top: 50%;
    transform: translateY(-50%);
    color: #F27A1A;
    font-size: 16px;
    cursor: pointer;
}
.header-container .account-navigator {
    display: flex;
    align-items: center;
    gap: 25px;
}

.account-navigator  span{
    padding-left: 8px;
    font-size: 0.9rem;
    
}
.account-navigator .user, 
.account-navigator .fav, 
.account-navigator .basket {
    cursor: pointer;
    transition: color 0.2s ease-in-out; 
}
.account-navigator .user:hover,
.account-navigator .fav:hover,
.account-navigator .basket:hover {
    color: #F27A1A;
}

/*Navbar*/
nav{
   width: 100%;
   padding-bottom: 10px;
    border-bottom: 1px solid #F3F3F3;
    
    
}
nav .container {
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}
nav .catalog {
    display: flex;
    gap: 8px;
    font-size: 0.9rem;
    text-align: center;
    justify-content: center;
    align-items: center;

}
nav .list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 0.9rem;
   
    
}

nav span{
    font-size: 0.7rem;
    background-color: #DC2E2E;
    color: #F3F3F3;
    padding: 1px 5px;
    border-radius: 32px;
}
nav .active{
    color: #F27A1A;
   
}
nav .list li {
    position: relative;
    cursor: pointer;
}

nav .list li:hover {
    color: #F27A1A;
}

/*Section*/
section{
    margin-top: 45px;
}
/*Main Container*/
.main-container{
    margin: 0 auto;
    max-width: 1200px;
    height: 100%;
    /* background-color: red; */
    
}
.main-container .slider{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
}
.slider .item{
    display: flex;
    
    flex-direction: column;
    align-items: center;
    justify-self: center;
    text-align: center;
    height: 120px;
    width: 115px;
    
    color: #33363F;
  
}
.slider .item:hover{
    color: #F27A1A;
    
}
.item img {
    width: 68px;
    height: 68px;
    
   
}

.item span{
    height: 100%;
    font-size: 0.8rem;
    font-weight: 600;
    padding: 15px;
}
/*Banner List*/
.banner-items{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin: 20px;
}
.banner-items a{
    width: 280px;
    height: 44px;
}
.banner-items a img{
    width: 100%;
    height: 100%;
}

/*Widget*/
.product-container{
    background-image: url(https://cdn.dsmcdn.com/homepage/prod/2025-03-11/0fc7d6ad-2047-400f-a7a9-14405e4fd7ae.png);
    max-width: 1200px;
    height: 500px;
    border-radius: 10px;
    position: relative;
}

.product-container .arrow-btn{
    position: absolute;
    z-index: 1000;
    padding: 13px 15px;
    border-radius: 50%;
    top: 50%;
    border: none;
    background-color: #FFFFFF;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: background-color 0.3s ease-out;
}
.slide-right {
    right: -20px;
}

.slide-left {
    left: -20px;
}

.product-container .arrow-btn:hover{
    background-color: #F27A1A;
    color: #FFFFFF;
}

.header-container{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    font-size: 1.1rem;
    color: black;
}
.header-container .flash{
    color: #F27A1A;
    margin-right: 5px;
}
.header-container .navigator a{
    color: black;
    padding: 10px;
    transition: background-color 0.3s ease-in-out, border-radius 0.3s ease-in;
    text-decoration: none;
    
   
}
.header-container .navigator a:hover{
    background-color: white;
    padding: 10px;
    border-radius: 50px;
    text-align: center;
}
.navigator a i{
    font-size: 0.8rem;
}

/*Countdown*/
.countdown-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.countdown-box {
    display: flex;
    gap: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    position: absolute;
    left: 13%;
    padding: 8px 12px;
    border-radius: 5px;
}

.countdown-box span {
    padding: 4px;
    background-color: #fff;
    border-radius: 3px;
    color: #333;
}
/*item container*/
.product-container .item-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
    width: 100%;
    height: 80%;
    overflow-x: hidden;
    gap: 20px;
    scroll-behavior: smooth;
    transition: transform 0.5s ease;
    
}

.product-container .product{
    height: 100%;
    width: 200px;
    border-radius: 10px;
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    flex: 0 0 auto;
}
.product-container .product .heartplace{
    position: absolute;
    right: 15px;
    top: 15px;
    border-radius: 50%;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.5);
    padding: 8px;
    cursor: pointer;
    z-index: 1000;
    background-color: white;
    
    
}
.product-container .product i:hover{
    color: #F27A1A;
}

.upper, 
.down{
    flex: 1;
    
}

.upper {
    display: flex  ;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.upper img{
    width: 70%;
    
}
.upper .lead{
    display: flex;
    width: 100%;
    font-size: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background:linear-gradient(270.43deg, #FFC000 0%, #F27A1A 100%);
    gap: 10px;
    padding: 2px;
    color: #F3F3F3;

}
.upper .lead img{
    width: 5%;
}

.down{
    display: flex;
    flex-direction: column;
    padding: 7px;
    justify-content: space-around;
    
    
    
}
.down .product-name{
    font-size: 0.9rem;
}
.down .rating{
    display: flex;
    flex-direction: row;
    font-size: 0.7rem;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
}
.rating .star{
    color: #F27A1A;
    font-size: 1rem;
}
.down .price{
    font-size: 0.9rem;
    color: #F27A1A;
    font-weight: bold;
}
.down .mini-icon{
    width: 90px;
    padding: 4px;
    border-radius: 6px;
    font-size: 0.7rem;
    background-color: #FFF0F5;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;

}
.down .mini-icon i{
    color:#FF4988;
}

/*Images */
.image-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 15px;
    height: 220px;
}
.image-container .images{
    width: 380px;
}
.images img{
    height: 100%;
    width: 100%;
    transition: width 0.3s ease-in;
}
.images img:hover{
    width: 102%;
    height: 102%;
}
/*Category*/
.category-container{
    width: 100%;
}
.category-container .category-header{
    font-size: 0.7rem;
    font-weight: normal;
    padding: 10px;
    margin-bottom: 10px;
}
.category-container .category{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.category a img{
    width: 185px;
    border-radius: 10px;
}

/*Brand*/
.brand-container{
    width: 100%;
}
.brand-container .brand-header{
    font-size: 0.7rem;
    font-weight: normal;
    padding: 10px;
    margin-bottom: 10px;
}
.brand-container .brand{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.brand .brand-item{
    border: 1px solid #666666;
    border-radius: 10px;
    transition: box-shadow 0.3s ease-in;
}
.brand a img{
    width: 117px;
    height: 117px;
    border-radius: 10px;
   
}
.brand .brand-item:hover{
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
}

/*Category Footer*/
