@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}
a{
    text-decoration: none;
    

}
li {
    list-style-type: none;
}

/* Header */
header {
    width: 100%;
}

/* Top Banner*/
header .top-banner{
    width: 100%;
    text-align: center;
    
}

header .top-banner .top-banner-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, rgb(97, 125, 252) 50%, rgb(97, 125, 252) 50%);
}

header .top-banner .top-banner-container img{
    width: 60%;
    height: 100%;
}

/*Header Main*/
.headerMain{
    max-width: 1250px;
    margin: 0 auto;
    padding: 10px 20px;
}
.headerMain .wrapper{
    display: flex;
    justify-content: flex-end;
    
}
.headerMain .wrapper .right{
    display: flex;
    gap: 30px;
    font-size: 0.7rem; 
    
}
.headerMain .wrapper .right li a{
    color: #666666;
    opacity: 0.5; 
    transition: opacity 0.2s ease-in-out;
}
.headerMain .wrapper .right a:hover{
    opacity: 1;
}

.headerMain .sticky-header{
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding-bottom: 10px;
}

.headerMain .header-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 1400px;
    margin: 0 auto;
}
.headerMain .header-wrapper .header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
 .header-container .logo{
    text-align: center;
    width: 150px;
   
    
}

.header-container .search-bar{
   
    width: 600px;
    margin: 0 20px;
    position: relative;
}
.header-container .search-bar input{
    width: 100%;
    padding: 15px 40px 10px 15px;
    border: none;
    background-color: #F3F3F3;
    border-radius: 6px;
}
.search-bar i {
    position: absolute;
    right: 15px;  /* Sağ kenara yasla */
    top: 50%;
    transform: translateY(-50%);
    color: #F27A1A;
    font-size: 16px;
    cursor: pointer;
}
.header-container .account-navigator {
    display: flex;
    align-items: center;
    gap: 25px;
}

.account-navigator  span{
    padding-left: 8px;
    font-size: 0.9rem;
    
}
.account-navigator .user, 
.account-navigator .fav, 
.account-navigator .basket {
    cursor: pointer;
    transition: color 0.2s ease-in-out; 
}
.account-navigator .user:hover,
.account-navigator .fav:hover,
.account-navigator .basket:hover {
    color: #F27A1A;
}

/*Navbar*/
nav{
   width: 100%;
   padding-bottom: 10px;
    border-bottom: 1px solid #F3F3F3;
    
    
}
nav .container {
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}
nav .catalog {
    display: flex;
    gap: 8px;
    font-size: 0.9rem;
    text-align: center;
    justify-content: center;
    align-items: center;

}
nav .list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 0.9rem;
   
    
}

nav span{
    font-size: 0.7rem;
    background-color: #DC2E2E;
    color: #F3F3F3;
    padding: 1px 5px;
    border-radius: 32px;
}
nav .active{
    color: #F27A1A;
   
}
nav .list li {
    position: relative;
    cursor: pointer;
}

nav .list li:hover {
    color: #F27A1A;
}

/*Section*/
section{
    margin-top: 45px;
}
/*Main Container*/
.main-container{
    margin: 0 auto;
    max-width: 1200px;
    height: 100%;
    /* background-color: red; */
    
}
.main-container .slider{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
}
.slider .item{
    display: flex;
    
    flex-direction: column;
    align-items: center;
    justify-self: center;
    text-align: center;
    height: 120px;
    width: 115px;
    
    color: #33363F;
  
}
.slider .item:hover{
    color: #F27A1A;
    
}
.item img {
    width: 68px;
    height: 68px;
    
   
}

.item span{
    height: 100%;
    font-size: 0.8rem;
    font-weight: 600;
    padding: 15px;
}
