@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}
a{
    text-decoration: none;
    

}
li {
    list-style-type: none;
}

/* Header */
header {
    width: 100%;
}

header .top-banner{
    width: 100%;
    text-align: center;
    
}

header .top-banner .top-banner-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, rgb(97, 125, 252) 50%, rgb(97, 125, 252) 50%);
}

header .top-banner .top-banner-container img{
    width: 60%;
    height: 100%;
}

.headerMain{
    max-width: 1400px;
    margin: 0 auto;
    padding: 10px 20px;
}
.headerMain .wrapper{
    display: flex;
    justify-content: flex-end;
    
}
.headerMain .wrapper .right{
    display: flex;
    gap: 30px;
    font-size: 0.7rem; 
    
}
.headerMain .wrapper .right li a{
    color: #666666;
    opacity: 0.5; 
    transition: opacity 0.2s ease-in-out;
}
.headerMain .wrapper .right a:hover{
    opacity: 1;
}
